.formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; 
    outline: none;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #eab676;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(239, 144, 43, 0.466);
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  
  .button:hover {
    background-color: #d9a05f;
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;    
  }
  
  .checkboxLabel {
    margin-left: 8px;
    font-size: 16px;    
  }
  