.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
}

.linkDestacado {
    text-decoration: underline;
    background-color: rgb(244, 244, 209);
    border: 1px solid rgb(215, 179, 80);
    border-radius: 5px;    
}